In [75]:
import pandas as pd 
path = '/home/grau/ISS/Hackaton-/'
from datetime import datetime

In [76]:
data=pd.read_csv(path+"test.csv", sep=" ")
#data.to_csv(path+"test2.csv", index=None)
#data=pd.read_csv(path+"test2.csv", sep=" ")

In [77]:
(data)

,rainfall_24h(mm),rainfall_5d(mm),luminosity(lux),humidity(%),water_consumption(L),height(cm),temperature(Â°C),period,date
0,1.0,6,506,30,4.0,10.0,20,12,mon-jan-2021
1,0.3,3,508,35,3.5,11.0,22,13,mon-jan-2021
2,0.6,2,609,50,8.9,13.0,21,14,mon-jan-2021
3,2.0,7,609,20,3.8,13.6,20,15,mon-jan-2021
4,1.8,6,134,40,2.9,13.7,23,16,mon-jan-2021
5,1.1,6,760,10,1.9,14.8,24,17,mon-jan-2021
6,0.0,6,780,60,3.9,15.0,18,18,mon-jan-2021
7,0.0,6,876,40,12.8,16.0,17,19,mon-jan-2021
8,0.0,6,541,10,1.4,19.0,14,20,mon-jan-2021
9,0.0,6,541,10,1.4,19.0,14,21,mon-jan-2021
10,0.0,6,541,10,1.4,19.0,14,22,mon-jan-2021
11,1.7,6,541,10,1.4,19.0,14,23,mon-jan-2021
12,2.0,6,541,10,1.4,19.0,14,0,tue-jan-2021
13,1.0,6,541,10,1.4,20.0,14,1,tue-jan-2021
14,1.0,6,541,10,1.4,20.6,14,2,tue-jan-2021
15,0.0,6,541,10,1.4,20.9,14,3,tue-jan-2021
16,0.0,6,541,10,1.4,21.0,14,4,tue-jan-2021
17,0.0,6,541,10,1.4,21.2,14,5,tue-jan-2021
18,0.0,6,541,10,1.4,21.8,14,6,tue-jan-2021
19,0.0,6,541,10,1.4,21.8,14,7,tue-jan-2021
20,0.9,6,541,10,1.4,21.9,14,8,tue-jan-2021
21,0.1,6,541,10,1.4,22.1,14,9,tue-jan-2021
22,0.0,6,541,10,1.4,22.9,14,10,tue-jan-2021
23,0.0,6,541,10,1.4,22.9,14,11,tue-jan-2021

##

In [78]:
data['date']=pd.to_datetime(data['date'])
data

,rainfall_24h(mm),rainfall_5d(mm),luminosity(lux),humidity(%),water_consumption(L),height(cm),temperature(Â°C),period,date
0,1.0,6,506,30,4.0,10.0,20,12,2021-01-04
1,0.3,3,508,35,3.5,11.0,22,13,2021-01-04
2,0.6,2,609,50,8.9,13.0,21,14,2021-01-04
3,2.0,7,609,20,3.8,13.6,20,15,2021-01-04
4,1.8,6,134,40,2.9,13.7,23,16,2021-01-04
5,1.1,6,760,10,1.9,14.8,24,17,2021-01-04
6,0.0,6,780,60,3.9,15.0,18,18,2021-01-04
7,0.0,6,876,40,12.8,16.0,17,19,2021-01-04
8,0.0,6,541,10,1.4,19.0,14,20,2021-01-04
9,0.0,6,541,10,1.4,19.0,14,21,2021-01-04
10,0.0,6,541,10,1.4,19.0,14,22,2021-01-04
11,1.7,6,541,10,1.4,19.0,14,23,2021-01-04
12,2.0,6,541,10,1.4,19.0,14,0,2021-01-05
13,1.0,6,541,10,1.4,20.0,14,1,2021-01-05
14,1.0,6,541,10,1.4,20.6,14,2,2021-01-05
15,0.0,6,541,10,1.4,20.9,14,3,2021-01-05
16,0.0,6,541,10,1.4,21.0,14,4,2021-01-05
17,0.0,6,541,10,1.4,21.2,14,5,2021-01-05
18,0.0,6,541,10,1.4,21.8,14,6,2021-01-05
19,0.0,6,541,10,1.4,21.8,14,7,2021-01-05
20,0.9,6,541,10,1.4,21.9,14,8,2021-01-05
21,0.1,6,541,10,1.4,22.1,14,9,2021-01-05
22,0.0,6,541,10,1.4,22.9,14,10,2021-01-05
23,0.0,6,541,10,1.4,22.9,14,11,2021-01-05

In [79]:
#We want to predict the growth rate of the plants/crops with accuracy to manage the water consumption. So for a water
#consumption and certain external caracteristics we need to know the growth rate (hours by hours)


#Growth rate computing in %
data['var_height']=data['height(cm)'].diff()/data['height(cm)'].shift(1)*100

#These are the caracteristics (water provide) at time t that allow a certain growth rate observed at time t+1
data['var_height']=data['var_height'].shift(-1) 

#We cann't evaluate the last row because we don't know the next plant height, so we don't know the influence
#of the different parameters
data=data.drop([data.shape[0]-1])
data

,rainfall_24h(mm),rainfall_5d(mm),luminosity(lux),humidity(%),water_consumption(L),height(cm),temperature(Â°C),period,date,var_height
0,1.0,6,506,30,4.0,10.0,20,12,2021-01-04,10.000000
1,0.3,3,508,35,3.5,11.0,22,13,2021-01-04,18.181818
2,0.6,2,609,50,8.9,13.0,21,14,2021-01-04,4.615385
3,2.0,7,609,20,3.8,13.6,20,15,2021-01-04,0.735294
4,1.8,6,134,40,2.9,13.7,23,16,2021-01-04,8.029197
5,1.1,6,760,10,1.9,14.8,24,17,2021-01-04,1.351351
6,0.0,6,780,60,3.9,15.0,18,18,2021-01-04,6.666667
7,0.0,6,876,40,12.8,16.0,17,19,2021-01-04,18.750000
8,0.0,6,541,10,1.4,19.0,14,20,2021-01-04,0.000000
9,0.0,6,541,10,1.4,19.0,14,21,2021-01-04,0.000000
10,0.0,6,541,10,1.4,19.0,14,22,2021-01-04,0.000000
11,1.7,6,541,10,1.4,19.0,14,23,2021-01-04,0.000000
12,2.0,6,541,10,1.4,19.0,14,0,2021-01-05,5.263158
13,1.0,6,541,10,1.4,20.0,14,1,2021-01-05,3.000000
14,1.0,6,541,10,1.4,20.6,14,2,2021-01-05,1.456311
15,0.0,6,541,10,1.4,20.9,14,3,2021-01-05,0.478469
16,0.0,6,541,10,1.4,21.0,14,4,2021-01-05,0.952381
17,0.0,6,541,10,1.4,21.2,14,5,2021-01-05,2.830189
18,0.0,6,541,10,1.4,21.8,14,6,2021-01-05,0.000000
19,0.0,6,541,10,1.4,21.8,14,7,2021-01-05,0.458716
20,0.9,6,541,10,1.4,21.9,14,8,2021-01-05,0.913242
21,0.1,6,541,10,1.4,22.1,14,9,2021-01-05,3.619910
22,0.0,6,541,10,1.4,22.9,14,10,2021-01-05,0.000000

In [80]:
from sklearn.model_selection import train_test_split

Y=data['var_height']
X=data[['rainfall_24h(mm)', 'rainfall_5d(mm)', 'luminosity(lux)', 'humidity(%)', 'water_consumption(L)', 'height(cm)', 'period', 'date']]

In [81]:
X

,rainfall_24h(mm),rainfall_5d(mm),luminosity(lux),humidity(%),water_consumption(L),height(cm),period,date
0,1.0,6,506,30,4.0,10.0,12,2021-01-04
1,0.3,3,508,35,3.5,11.0,13,2021-01-04
2,0.6,2,609,50,8.9,13.0,14,2021-01-04
3,2.0,7,609,20,3.8,13.6,15,2021-01-04
4,1.8,6,134,40,2.9,13.7,16,2021-01-04
5,1.1,6,760,10,1.9,14.8,17,2021-01-04
6,0.0,6,780,60,3.9,15.0,18,2021-01-04
7,0.0,6,876,40,12.8,16.0,19,2021-01-04
8,0.0,6,541,10,1.4,19.0,20,2021-01-04
9,0.0,6,541,10,1.4,19.0,21,2021-01-04
10,0.0,6,541,10,1.4,19.0,22,2021-01-04
11,1.7,6,541,10,1.4,19.0,23,2021-01-04
12,2.0,6,541,10,1.4,19.0,0,2021-01-05
13,1.0,6,541,10,1.4,20.0,1,2021-01-05
14,1.0,6,541,10,1.4,20.6,2,2021-01-05
15,0.0,6,541,10,1.4,20.9,3,2021-01-05
16,0.0,6,541,10,1.4,21.0,4,2021-01-05
17,0.0,6,541,10,1.4,21.2,5,2021-01-05
18,0.0,6,541,10,1.4,21.8,6,2021-01-05
19,0.0,6,541,10,1.4,21.8,7,2021-01-05
20,0.9,6,541,10,1.4,21.9,8,2021-01-05
21,0.1,6,541,10,1.4,22.1,9,2021-01-05
22,0.0,6,541,10,1.4,22.9,10,2021-01-05

In [59]:
Y

0     10.000000
1     18.181818
2      4.615385
3      0.735294
4      8.029197
5      1.351351
6      6.666667
7     18.750000
8      0.000000
9      0.000000
10     0.000000
11     0.000000
12     5.263158
13     3.000000
14     1.456311
15     0.478469
16     0.952381
17     2.830189
18     0.000000
19     0.458716
20     0.913242
21     3.619910
22     0.000000
23     0.000000
Name: var_height, dtype: float64

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=1/5)

In [28]:
X_train

,rainfall_24h(mm),rainfall_5d(mm),luminosity(lux),humidity(%),height(cm),period,date
14,1.0,6,541,10,20.6,2,2021-01-05
17,0.0,6,541,10,21.2,5,2021-01-05
8,0.0,6,541,10,19.0,20,2021-01-04
5,1.1,6,760,10,14.8,17,2021-01-04
18,0.0,6,541,10,21.8,6,2021-01-05
6,0.0,6,780,60,15.0,18,2021-01-04
13,1.0,6,541,10,20.0,1,2021-01-05
2,0.6,2,609,50,13.0,14,2021-01-04
11,1.7,6,541,10,19.0,23,2021-01-04
20,0.9,6,541,10,21.9,8,2021-01-05
23,0.0,6,541,10,22.9,11,2021-01-05
19,0.0,6,541,10,21.8,7,2021-01-05
1,0.3,3,508,35,11.0,13,2021-01-04
4,1.8,6,134,40,13.7,16,2021-01-04
15,0.0,6,541,10,20.9,3,2021-01-05
0,1.0,6,506,30,10.0,12,2021-01-04
10,0.0,6,541,10,19.0,22,2021-01-04
12,2.0,6,541,10,19.0,0,2021-01-05
7,0.0,6,876,40,16.0,19,2021-01-04

In [30]:
y_train

14     1.4
17     1.4
8      1.4
5      1.9
18     1.4
6      3.9
13     1.4
2      8.9
11     1.4
20     1.4
23     1.4
19     1.4
1      3.5
4      2.9
15     1.4
0      4.0
10     1.4
12     1.4
7     12.8
Name: water_consumption(L), dtype: float64